<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.10">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.29">
    <script>pipeline {
    agent any
    stages {
        stage(&apos;build&apos;) {
            steps {
                build job: &apos;build&apos;
            }
        }
        stage(&apos;generate&apos;) {
            steps {
                build job: &apos;generate&apos;
            }
        }
        stage(&apos;test&apos;) {
            steps {
                build job: &apos;test&apos;
            }
        }
        stage(&apos;deploy&apos;){
            steps {
                build job: &apos;deploy&apos;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>